@font-face {
    font-family: 'kelson_sans_rubold';
    src: url('/resources/font/kelson/kelson_sans_bold_ru.eot');
    src: url('/resources/font/kelson/kelson_sans_bold_ru.eot?#iefix') format('embedded-opentype'), url('/resources/font/kelson/kelson_sans_bold_ru.woff') format('woff'), url('/resources/font/kelson/kelson_sans_bold_ru.ttf') format('truetype');
}

@font-face {
    font-family: 'kelson_sans_rulight';
    src: url('/resources/font/kelson/kelson_sans_light_ru.eot');
    src: url('/resources/font/kelson/kelson_sans_light_ru.eot?#iefix') format('embedded-opentype'), url('/resources/font/kelson/kelson_sans_light_ru.woff') format('woff'), url('/resources/font/kelson/kelson_sans_light_ru.ttf') format('truetype');
}

@font-face {
    font-family: 'kelson_sans_ruregular';
    src: url('/resources/font/kelson/kelson_sans_regular_ru.eot');
    src: url('/resources/font/kelson/kelson_sans_regular_ru.eot?#iefix') format('embedded-opentype'), url('/resources/font/kelson/kelson_sans_regular_ru.woff') format('woff'), url('/resources/font/kelson/kelson_sans_regular_ru.ttf') format('truetype');
}

@font-face {
    font-family: 'kelson_sans_rubold';
    src: url('/resources/font/kelson/kelson_sans_bold_ru.eot');
    src: url('/resources/font/kelson/kelson_sans_bold_ru.eot?#iefix') format('embedded-opentype'), url('/resources/font/kelson/kelson_sans_bold_ru.woff') format('woff'), url('/resources/font/kelson/kelson_sans_bold_ru.ttf') format('truetype');
}

@font-face {
    font-family: 'kelson_sans_rulight';
    src: url('/resources/font/kelson/kelson_sans_light_ru.eot');
    src: url('/resources/font/kelson/kelson_sans_light_ru.eot?#iefix') format('embedded-opentype'), url('/resources/font/kelson/kelson_sans_light_ru.woff') format('woff'), url('/resources/font/kelson/kelson_sans_light_ru.ttf') format('truetype');
}

@font-face {
    font-family: 'kelson_sans_ruregular';
    src: url('/resources/font/kelson/kelson_sans_regular_ru.eot');
    src: url('/resources/font/kelson/kelson_sans_regular_ru.eot?#iefix') format('embedded-opentype'), url('/resources/font/kelson/kelson_sans_regular_ru.woff') format('woff'), url('/resources/font/kelson/kelson_sans_regular_ru.ttf') format('truetype');
}

html, body {
    height: 100%;
}

.mainWrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.page-content {
    margin-bottom: -30px;
    padding-top: 70px;
    padding-bottom: 30px;
}

header, nav, footer {
    font-family: kelson_sans_rulight, "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

footer {
    height: 30px;
    background-color: #f8f8f8;
    padding-top: 0.5em;
}

.center {
    text-align: center;
    margin: auto;
}

header span.text-info {
    font-weight: bolder;
}

footer .company-title {
    font-size: 9px;
    font-size: 0.9rem;
    margin-top: 10.5px;
    line-height: 1em;
    text-align: right;
}
