<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{page.title(#{'system.name'}, #{'page.'+${currentPage}+'.name'})}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="description" th:attr="content=#{tenant.description}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="publisher" href="#" th:attr="href=#{tenant.url}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.0.0/css/bootstrap.min.css}" href="#"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/3.2.1/css/font-awesome.min.css}" href="#"/>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}" href="#"/>
</head>
<body>
<div class="mainWrapper">
    <header>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" th:text="#{system.name}" th:href="@{/}">Company name</a>
                </div>
                <div id="navbar-collapse-1" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="divider-vertical"></li>
                        <li th:each="navItem : ${navItems}" th:class="(${currentPage} == ${navItem}) ? 'active'">
                            <a href="#" th:href="@{'/' + ${navItem}}" th:text="${#messages.msg('page.'+navItem+'.link.label')}">Nav link</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" sec:authorize="!isAuthenticated()">
                        <li><a href="/login" th:href="@{/login}" th:text="#{action.login.label}">Sign In</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                        <li class="navbar-text"><span th:text="${currentUser.fullName}" class="text-info">Full name</span></li>
                        <li><a href="/j_spring_security_logout" th:href="@{/j_spring_security_logout}" th:text="#{action.logout.label}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container page-content">
        Базовая страница
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <span>Автор: <a href="mailto: maksim.kanev@gmail.com">Максим Канев</a></span>
                <!--<a href="#" th:href="@{/simulateError}">Ошибка</a>-->
            </div>
            <div class="col-lg-6" style="text-align: right;">
                <a href="#" target="_blank" th:href="#{tenant.url}" th:text="${#messages.msg('tenant.name')}">Tenant name</a>
                <span th:text="${', ' + #calendars.format(#calendars.createToday(), 'yyyy')}">Copy</span>
            </div>
        </div>
    </div>
</footer>
<div th:fragment="foot" th:remove="tag">
    <script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/lodash/2.2.1/lodash.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.0.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/main.js}"></script>
</div>
</body>
</html>
