<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:substituteby="common/layout :: [//head]">
</head>
<body>
<div class="mainWrapper">
    <header th:substituteby="common/layout :: [//header]"></header>
    <div class="container page-content">
        <div class="row" sec:authorize="hasRole('ADMIN')">
            <div class="col-lg-12">
                <a href="/new" class="btn btn-default btn-xs" th:href="@{'/' + ${currentPage} + '/new'}">Создать</a>
            </div>
        </div>
        <div class="row" th:if="${entityList}">
            <div class="col-lg-12">
                <span th:text="${'Всего записей: ' + #lists.size(entityList)}">Objects count</span>
            </div>
        </div>
        <div class="row" th:each="entity : ${entityList}">
            <span class="col-lg-12" th:substituteby="${'/templates/' + currentPage} :: listElement" th:with="entity=${entity}"></span>
        </div>
    </div>
</div>
<footer th:substituteby="common/layout :: [//footer]"></footer>
<div th:substituteby="common/layout :: foot" th:remove="tag"></div>
</body>
</html>
