<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:substituteby="common/layout :: [//head]">
</head>
<body>
<div class="mainWrapper">
    <!--<header th:substituteby="common/layout :: [//header]"></header>-->
    <div class="container page-content">
        <div class="row">
            <div class="jumbotron center">
                <h1>Ой, что-то сломалось
                    <small class="text-error" th:text="${errorCode}">Ошибка системы</small>
                </h1>
                <br/>

                <p>В процессе работы системы произошла непредвиденная ошибка. Пожалуйста, сообщите системному администратору.</p>

                <p>Нажмите кнопку <b>Назад</b> в браузере, чтобы вернуться на предыдущую страницу.</p>

                <p><b>Чтобы вернуться на главную страницу, воспользуйтесь этой кнопкой:</b></p>
                <a href="/index" th:href="@{/index}" class="btn btn-info">На главную</a>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" href="#collapseOne" data-toggle="collapse" data-parent="#accordion2">
                                <span th:text="#{error.accordion.heading}">Technical information</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body" th:utext="${errorMessage}">
                            Error java.lang.Exception
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<footer th:substituteby="common/layout :: [//footer]"></footer>-->
<div th:substituteby="common/layout :: foot" th:remove="tag"></div>
</body>
</html>

