<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="common/layout :: [//head]" th:with="currentPage='signup'">
</head>
<body>
<div class="mainWrapper">
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <form id="signupForm" method="POST" role="form" class="form-horizontal" th:action="@{/j_spring_security_check}">
                    <fieldset>
                        <legend th:text="#{form.signup.legend}">Sign Up Form</legend>
                        <div class="form-group">
                            <label class="col-lg-4 control-label" th:text="#{form.signup.username}">Username</label>

                            <div class="col-lg-8">
                                <input type="text" id="j_username" name="j_username" class="form-control" autofocus="autofocus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label" th:text="#{form.signup.password}">Password</label>

                            <div class="col-lg-8">
                                <input type="password" id="j_password" name="j_password" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="col-lg-4 control-label" href="./index.html" th:href="@{/index}">Назад</a>

                            <div class="col-lg-8">
                                <input type="submit" value="Sign Up" class="btn btn-info" th:value="#{form.signup.submit}"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <p th:if="${signupError}" class="error">Wrong user or password</p>
    </div>
</div>
<footer th:substituteby="common/layout :: [//footer]"></footer>
<div th:substituteby="common/layout :: foot" th:remove="tag"></div>
</body>
</html>
