<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="common/layout :: [//head]">
</head>
<body>
<div class="mainWrapper">
    <header th:substituteby="common/layout :: [//header]"></header>
    <div class="container page-content">
        <div class="row">
            <div class="span12">
                <form id="userEditForm" action="/createOrUpdate" method="post" class="form-horizontal"
                      th:fragment="editForm"
                      th:action="@{${#httpServletRequest.servletPath}}"
                      th:method="${domainObject['new']} ? 'post' : 'put'"
                      th:object="${domainObject}">
                    <fieldset>
                        <legend>Пользователь</legend>
                        <div class="control-group" style="display: none;">
                            <label class="control-label">ИД</label>

                            <div class="controls">
                                <input type="text" class="input-xlarge" th:field="*{id}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Имя пользователя</label>

                            <div class="controls">
                                <input type="text" class="input-xlarge" th:field="*{username}"/>
                            </div>
                        </div>
                        <div class="control-group" style="display: none;">
                            <label class="control-label">Пароль</label>

                            <div class="controls">
                                <input type="password" class="input-xlarge" th:field="*{password}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Имя</label>

                            <div class="controls">
                                <input type="text" class="input-xlarge" th:field="*{firstName}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Фамилия</label>

                            <div class="controls">
                                <input type="text" class="input-xlarge" th:field="*{lastName}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Дата рождения</label>

                            <div class="controls">
                                <input type="text" class="input-xlarge" th:field="*{birthday}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">E-mail</label>

                            <div class="controls">
                                <input type="text" class="input-xlarge" th:field="*{email}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Контактный телефон</label>

                            <div class="controls">
                                <input type="text" class="input-xlarge" th:field="*{cellPhone}"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <input type="submit" class="btn btn-primary" value="Сохранить"/>
                                <input type="button" onclick="history.back(); return false;" value="Отменить"
                                       class="btn"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row" th:fragment="viewForm">
            <div class="span12" th:object="${domainObject}">
                <div class="row">
                    <span class="span6">Имя пользователя</span>
                    <span class="span6" th:text="*{username}">Username</span>
                </div>
                <div class="row">
                    <span class="span6">Имя</span>
                    <span class="span6" th:text="*{firstName}">First name</span>
                </div>
                <div class="row">
                    <span class="span6">Фамилия</span>
                    <span class="span6" th:text="*{lastName}">Last name</span>
                </div>
                <div class="row">
                    <span class="span6">E-mail</span>
                    <span class="span6" th:text="*{email}">Email</span>
                </div>
                <div class="row">
                    <span class="span6">Контактный номер</span>
                    <span class="span6" th:text="*{cellPhone}">Cell Phone</span>
                </div>
                <div class="row">
                    <div class="span12" style="text-align: right;">
                        <a href="/profile/id/edit" th:href="@{'/profile/' + *{id} + '/edit'}" class="btn btn-mini">
                            Редактировать
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:substituteby="common/layout :: [//footer]"></footer>
<div th:substituteby="common/layout :: foot" th:remove="tag"></div>
</body>
</html>
