@import 'partials/_fonts';
@import 'partials/_mixins';
@import 'partials/_vars';
@import 'partials/_structure';
@import 'partials/_common';

// Page
//  @primary-color: @color-orange;
//  @primary-color: @color-wisteria;
//  @primary-color: @color-green-sea;
@primary-color: @color-nephritis;
@highlight: @color-white;

header span.text-info {
  font-weight: bolder;
}

footer .company-title {
  .fit-line-height(@footer-height, .9, 1);
  text-align: right;
}

//footer .powered-by-block {
//  .fit-line-height(@footer-height, .9, 1);
//  text-align: right;
//}
